.navbar {
  background-color: #0056b3;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  
}

.nav-links a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  text-decoration: none;
  cursor: pointer;
}
